<div class="sidebar ">
				<div class="sidebar-collapse">
					<div class="sidebar-header t-center">
                        <span><img class="text-logo" src="{{static_url("img/logo1.png")}}"><i class="fa fa-space-shuttle fa-3x blue"></i></span>
                    </div>
					<div class="sidebar-menu">
						<ul class="nav nav-sidebar">
							<li><a href="/file"><i class="fa fa-file-text"></i><span class="text"> OTA发布推送</span></a></li>
                                                        </li>
						</ul>
					</div>
				</div>
				<div class="sidebar-footer">
					<div class="sidebar-brand">
						OpsPam
					</div>

					<ul class="sidebar-terms">
						<li><a href="index.html#">Terms</a></li>
						<li><a href="index.html#">Privacy</a></li>
						<li><a href="index.html#">Help</a></li>
						<li><a href="index.html#">About</a></li>
					</ul>


				</div>

			</div>
